.weather{
    place-self: center;
    padding: 40px;
    border-radius: 25px;
    background-image: linear-gradient(45deg, #2d4b99, #3700ae);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px
}
.search-bar input{
    height: 50px;
    padding-left: 25px;
    border-radius: 40px;
    border: none;
    outline: none;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;

}
.temperature{
    font-size: 80px;
    color: #fff;
    line-height: 1;
}
.location{
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #c1c1c1;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.weather-data .col span{
    font-size: 16px;
    color: #c1c1c1;
    display: block;
}
.weather-data .col .img{
    width: 26px;
    margin-top: 10px;
}



/* Tablets */
@media (max-width: 900px) {
  .weather{
    padding: 30px;
    border-radius: 22px;
  }

  .weather-icon{
    width: 120px;
  }

  .temperature{
    font-size: 65px;
  }

  .location{
    font-size: 32px;
  }
}

/* Mobile Devices */
@media (max-width: 600px) {
  .weather{
    width: 100%;
    padding: 22px 18px;
    border-radius: 18px;
  }

  .search-bar{
    width: 100%;
    gap: 8px;
  }

  .search-bar input{
    flex: 1;
    height: 45px;
    font-size: 16px;
    padding-left: 18px;
  }

  .search-bar img{
    width: 45px;
    padding: 12px;
  }

  .weather-icon{
    width: 100px;
    margin: 20px 0;
  }

  .temperature{
    font-size: 55px;
  }

  .location{
    font-size: 26px;
    margin-top: 6px;
  }

  .weather-data{
    margin-top: 25px;
    gap: 18px;
  }

  .weather-data .col{
    font-size: 18px;
    gap: 8px;
  }

  .weather-data .col span{
    font-size: 14px;
  }

  .weather-data .col img{
    width: 22px;
  }
}

/* Small Phones */
@media (max-width: 400px) {
  .weather{
    padding: 18px 14px;
  }

  .temperature{
    font-size: 48px;
  }

  .location{
    font-size: 22px;
  }

  .weather-icon{
    width: 90px;
  }
}
