.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2d4b99, #3700ae);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px
}
.search-bar input{
    height: 50px;
    padding-left: 25px;
    border-radius: 40px;
    border: none;
    outline: none;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;

}
.temperature{
    font-size: 80px;
    color: #fff;
    line-height: 1;
}
.location{
    font-size: 40px;
    color: #fff;
    margin-top: 10px;
}